.movie-card-styling {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.movie-image-styling { 
  height: 35vh;
}

p {
  margin-block-start: 0.4em;
  margin-block-end: 0em;
  font-size: .99rem;
}
.icon-styling {
  height: 3.3vh;
  margin-left: 0.4em;
}