.container-styling {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 0.2fr));
  height: auto;
  width: auto;
  justify-content: space-between;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin: 6px;
}