html {
  background-color: black;
}

.App {
  background-color: black;
  color: white;
  padding: none;
  overflow: hidden;
  height: 100%;
  /* width: 70%; */
  margin-left: 12%;
  margin-right: 12%;
  font-family: 'Roboto', sans-serif;

}

.logo {
  width: 100%;
  margin-left: -3%;
  margin-top: 7%;
}

