.nav-styling {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
  background-color: transparent;
  margin-top: 1%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: -10%;
}

form {
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

.icon {
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin-bottom: -3px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.04);
    transform: rotate(6deg);
    transition: all ease-in-out .3s;
}

.search-bar {
  margin-left: 10px;
  border-radius: 16px;
  outline: 0;
  border: none;
  padding: 0px 23px 0px;
  font-size: 15px;
  height: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(255,255,255, .2);
}

.search-bar::-webkit-search-cancel-button {
  filter: hue-rotate(135deg);
}

.search-bar:hover {
  border: 1px solid rgb(219, 0, 182, .8);
}

.search-bar:focus {
  border: 1px solid rgb(219, 0, 182, .8);
}

.search-button {
  margin-left: 10px;
  text-decoration: none;
  background-color: rgb(255,255,255, .2);
  cursor: pointer;
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  border: none;
  height: 30px;
}

.search-button:hover {
  border: 1px solid rgb(219, 0, 182, .8);
}

.search-button-disabled:hover {
  border: none;
  cursor: not-allowed;
}
.search-button-disabled {
  margin-left: 10px;
  text-decoration: none;
  background-color: rgb(255,255,255, .2);
  cursor: pointer;
  border-radius: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: gray;
  border: none;
  height: 30px;
}
.search-button:focus {
  border: 1px solid rgb(219, 0, 182, .8);
}

/* .search-bar::-webkit-search-cancel-button {
  filter: hue-rotate(90deg);
} */
